@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Roboto;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > * {
  padding-left: 64px;
  padding-right: 64px;
}

.header, .container1, .footer {
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
}

.header, .footer {
  display: flex;
  align-items: center;
}

.header > .logo {
  font-size: 24px;
  color: #F9FAF8;
}

.right-links {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin-left: auto;
  color: #6c737c;
  padding: 0;
}

.right-links a {
  text-decoration: none;
}

.footer {
  justify-content: center;
  height: 36px;
}

.container1 {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
}

.hero-block, .hero-image {
  flex: 1 0 200px;
}

.hero-block {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-button {
  background-color: #3882F6;
  border-radius: 10px;
  padding: 6px 32px;
}

.hero-image {
  background-color: #6c737c;
  align-items: center;
  justify-content: center;
  display: flex;
}